<nav class="navbar sticky" >
    <div class="logo">
        <div id="block_container">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="name">Akrem Hammami</span><span class="job">/software egnineer</span></div>
          </div>
        
     <div>
    </div>
     </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
    <li><a href="/">About me</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/projects">Project</a></li>
    <li><a href="/">Contact</a></li>

    </div>
    </ul>
    </nav>
