<div  [ngClass]="displayOn" >
<nav class="navbar sticky" >
    <div class="logo">
        <div id="block_container">
            <div id="bloc2"><span class="name"><p> &nbsp;Akrem Hammami</p></span><span class="job">/software egnineer</span></div>
          </div>      
     <div>
    </div>
     </div>
    <ul class="nav-links">
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <div class="menu">
    <li><a href="/">About me</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/projects">Project</a></li>
    <li><a href="/contact">Contact</a></li>

    </div>
    </ul>
    </nav>
</div>
<div [ngClass]="displayOff" >
    <nav class="navbarMin" >
        <div class="logo">
            <div id="block_containerMin">
                <div id="bloc1"><div class="square"></div></div>
                <div id="bloc2"><span class="nameMin">Akrem Hammami</span></div><br>
                <div id="bloc2"><span class="jobMin">software egnineer</span></div>
            </div>
            
         <div>
        </div>
         </div>
        <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu menuMin" >
        <li><a href="/">About me</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/projects">Project</a></li>
        <li><a href="/contact">Contact</a></li>
        </div>
        </ul>
        </nav>
    

    </div>