<footer class="wrapper " style="padding: 80px 0px 80px 30px;">

    <div >
        © 2022 by Akrem Hammami.
    </div>
    <div>
        <div class="inline">
        <div class="center centerText">
            Call
            <br>+21628274222
        </div>
        <div class="center centerText">
            Email
            <br>akremhammami@outlook.com
        </div>
        <div class="center centerText">
            Follow
            <br>
            <a  href="#" style="margin: 10px;"> <i class="fab fa-linkedin-in"></i></a>
            <a href="#"  style="margin: 10px;" ><i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="#"  style="margin: 10px; "> <i class="fab fa-instagram"></i></a>
             
        </div>
    </div>
    </div>
    </footer>