<div  [ngClass]="displayOn" >
<footer class="wrapper " style="padding: 60px 0px 40px 30px;">

    <div >
        © 2022 by Akrem Hammami.
    </div>
    <div>
        <div class="inline">
        <div class="center centerText">
            Call
            <br>+21628274222
        </div>
        <div class="center centerText">
            Email
            <br>akremhammami@outlook.com
        </div>
        <div class="center centerText">
            Follow
            <br>
            <a  href="https://www.linkedin.com/in/akrem-hammami/" target="_blank" style="margin: 10px;"> <i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/Akrem17" style="margin: 10px;" ><i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" style="margin: 10px; "> <i class="fab fa-instagram"></i></a>
             
        </div>
    </div>
    </div>
    </footer>
</div>
<div  [ngClass]="displayOff" >
    <footer class="wrapperMin ">

        
        <div>
            <div class="inlineMin">
            <div class="centerMin centerTextMin">
                Call
                <br>+21628274222
            </div>
            <div class="centerMin centerTextMin">
                Email
                <br>akremhammami@outlook.com
            </div>
            <div class="centerMin centerTextMin">
                Follow
                <br> <br>
                <a  href="https://www.linkedin.com/in/akrem-hammami/" target="_blank" style="margin: 10px;"> <i style="color:black" class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Akrem17" style="margin: 10px;" ><i class="fa fa-github" style="color:black" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" style="margin: 10px; "> <i style="color:black" class="fab fa-instagram"></i></a>
                 
            </div>
        </div>
        </div>
        <div class="centerMin">
            © 2022 by Akrem Hammami.
        </div>
        </footer>
    </div>