<div class="card">
    <div class="grid1">
       <div class=" border"> <span class="name" style="text-decoration: underline;">{{title}}</span><br><br><span class="timesnews">{{position}}</span></div> 
        <br><br>
        <div class="job">
            {{details}}
        </div>
    </div>
   
    <div class="grid2">
        <div class="img "  style="background-image: url('https://i.stack.imgur.com/Gsk9I.png');">
            <img class="show"src="https://i.stack.imgur.com/Gsk9I.png">
         </div>
      <div class="job">

      </div>
      
    </div>
</div>