<div [ngClass]="displayOn" >

 <div class="card">
    <div class="grid1">
       <div class=" border"> <span class="name" style="text-decoration: underline;">{{title}}</span><br><br><span class="timesnews">{{position}}</span></div> 
        <br><br>
        <div class="job">
            {{details}}
        </div>
    </div>
   
    <div class="grid2">
        <div class="img "  style="background-image: url('{{imgUrl}}');">
            <img class="show"src="{{imgUrl}}">

         </div>
      <div class="job">

      </div>
      
    </div>
</div> 
</div>

<div [ngClass]="displayOff" >

 <div class="cardMin">
    <div class="grid1">
        <div id="block_containerMin">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="nameMin"><span class="name" style="text-decoration: underline;">{{title}}</span></span></div><br>
            
            <div id="bloc2"><span class="jobMin"><span class="timesnews">{{position}}</span></span></div>
        </div>
       <br><br> 
        <div class="jobMin">
            {{details}}
        </div>
        <!-- <button mat-button (click)="openDialog()">Open dialog</button>

        <i style="float: right;margin: 5px;" class="fa-solid fa-magnifying-glass-plus"></i> 
        -->
        <img src="{{imgUrl}}" width="100%" min-height="100%">

    </div>
   
   
</div> 
</div>



