    <div class="center" >
    <div class="wrapper ">
        <div class="grid1 " style="text-align: center;">
                <div class="img">
                   <a href="https://imgbb.com/"><img src="https://i.ibb.co/RBZK7Mg/download-edited.webp" alt="download-edited" border="0"></a>
                </div>
                <div class="name">
                    <div>Akrem </div><br>
                       <div> Hammami</div>

                </div>
                <hr>
                <div class="job ">
                    <div class="">
                    <span>Software</span><br>
                         
                </div>
                <div class="">
                    <span>Engineer</span><br>
                         
                </div>
                </div>
                <div class="footer ">
                   <a  href="#" style="margin: 10px;"> <i class="fab fa-linkedin-in"></i></a>
                   <a href="#"  style="margin: 10px;" ><i class="fa fa-github" aria-hidden="true"></i>
                   </a>
                   <a href="#"  style="margin: 10px; "> <i class="fab fa-instagram"></i></a>
                    
                </div>
        </div>
        <div class="grid2" >
            <div class="hello"> <span>Hello</span></div>
            <div class="welcome">Welcome to my portfolio </div>
            <div class="btn">
                <button class="resume ">RESUME(CV)</button>
                <button class="projects">PROJECTS</button>
            </div>
            <div class="about">
                            
            I'm a software engineering students who love 
            programming, I have been enthusiastic about the computer science world science since I was 16 years old, and that passion led me to study computer science from I was in high school.
            I aim to work on big projects around the world and turn ideas into real applications.
                            
            </div>
        </div>
    </div>
</div>