<div class="body" style="padding-top: 200px; min-height: 1000px;">
    <div class="center ">
      
        <div id="block_container" style="margin-bottom: 100px;">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="name">Resume</span></div>
          </div>
    
    </div>
<div>
    <div class="center">
        <div style="margin-top: 80px;">
            <app-education-card></app-education-card>
        </div>
        <div style="margin-top: 80px;">
            <app-education-card></app-education-card>
        </div>
        <div style="margin-top: 80px;">
            <app-education-card></app-education-card>
        </div>
        <div style="margin-top: 80px;">
            <app-education-card></app-education-card>
        </div>

    </div>
</div>
<div class="center ">
      
    <div id="block_container" style="margin:100px 0px 100px 0px ">
        <div id="bloc1"><div class="square"></div></div>
        <div id="bloc2"><span class="name">Work Experience</span></div>
      </div>

</div>
<div>
<div class="center">
    <div style="margin-top: 80px;">
        <app-education-card></app-education-card>
    </div>
    <div style="margin-top: 80px;">
        <app-education-card></app-education-card>
    </div>
    <div style="margin-top: 80px;">
        <app-education-card></app-education-card>
    </div>
    <div style="margin-top: 80px;">
        <app-education-card></app-education-card>
    </div>

</div>
</div>
</div>
