<div  [ngClass]="displayOn" >

<div class="body" style="padding-top: 200px; min-height: 1000px;">
    <div class="center ">
      
        <div id="block_container" style="margin-bottom: 100px;">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="name" style="color: black !important;">Resume</span></div>
          </div>
    
    </div>
<div>
    
    <div class="center" *ngIf="educations.length>0">
        <div>
            <span class="name" style="color: black !important;">Education</span>
          
            <span class="btn" style="float: right;">       
                        
                <a href="https://github.com/Akrem17/files/raw/main/SPRK_default_preset_name_custom%20%E2%80%93%201.pdf"> <button class="projects button" >Download CV (PDF)</button></a>
            </span>

        </div>
        <div style="margin-top: 40px;" *ngFor="let education of educations">
            <app-education-card 
            [date]="education.date"
            [city]="education.city"
            [college]="education.college"
            [details]="education.details"
            [field]="education.field"

            ></app-education-card>
        </div>
      

    </div>
</div>
<div class="center ">
      
    <div id="block_container" style="margin:100px 0px 100px 0px ">
        <div id="bloc1"><div class="square"></div></div>
        <div id="bloc2"><span class="name">Work Experience</span></div>
      </div>

</div>
<div>
<div class="center">
    <div style="margin-top: 80px;" *ngFor="let work of works">
        <app-education-card
            [position]="work.position"
            [company]="work.company"
            [college]="work.date"
            [details]="work.details"
            [field]="work.city"
        ></app-education-card>
    </div>
  

<div id="block_container" style="margin:100px 0px 100px 0px ">
    <div id="bloc1"><div class="square"></div></div>
    <div id="bloc2"><span class="name">Professional skillset
    </span></div>
  </div>
<div class="wrapper4 card">
   
    <div class="grid-1 callout ">
        <div id="block_container" class="left"  >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Programming <br>Languages :</h3></span></div>
          </div>     <ul>
         <li>Javascript</li>
         <li>C#</li>
         <li>PHP</li>
         <li>Java</li>
         <li>Python</li>


     </ul>
    </div>
  
    <div class="grid-2 callout ">
        <div id="block_container"  class="left">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Frameworks :</h3></span></div>
          </div>        <ul>
            <li>Angular</li>
            <li>.Net Core</li>
            <li>Nodejs</li>
            <li>Expressjs</li>
            <li>Symfony</li>
   
        </ul>     </div>
  
    <div class="grid-3 callout ">
        <div id="block_container" class="left" >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Tools :</h3></span></div>
          </div>         <ul>
            <li>Git</li>
            <li>Jira</li>
            <li>Trello</li>
            <li>Postman</li>
            <li>StarUML</li>
   
        </ul>      </div>
  
    <div class="grid-4 callout success">
      
        <div id="block_container"class="left"  >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Databases <br>& Libraries :</h3></span></div>
          </div>
        <ul>
            <li>Mysql</li>
            <li>SQLServer</li>
            <li>Mongodb</li>
            <li>PLSQL</li>
            <li>SignalR</li>
            <li>Bootstrap</li>
            <li>Angular Material</li>

        </ul>      </div>
  </div>
  
  
      
</div>

</div>
<br><br>
<div class="item shark-3" (click)="scroll()">
    <i class="fa-solid fa-arrow-up"></i>
  </div>
<div class="center" style="text-align: center;">
    <a href="https://github.com/Akrem17/files/raw/main/SPRK_default_preset_name_custom%20%E2%80%93%201.pdf" ><button  class="button" mat-button>Download CV (PDF)</button> </a>
    
 <a target="_blank" href="https://www.linkedin.com/in/akrem-hammami/">  
     
    <button class="button"  mat-button style="margin-left:'10px'" >See LinkedIn </button> </a>

    
</div>
<br><br>
</div>
</div>
<div  [ngClass]="displayOff" >

<div class="body" style="padding-top: 50px; min-height: 1000px;">
    <div class="centerMin">
      
        <div id="block_container" style="margin-bottom: 100px;">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="name">Resume</span></div>
          </div>
    
    </div>
<div>
    <div class="centerMin" *ngIf="educations.length>0">
        <div style="margin-top: 80px;" *ngFor="let education of educations">
            <app-education-card 
            [date]="education.date"
            [city]="education.city"
            [college]="education.college"
            [details]="education.details"
            [field]="education.field"

            ></app-education-card>
        </div>
      

    </div>
</div>
<div class="centerMin ">
      
    <div id="block_container" style="margin:100px 0px 50px 0px ">
        <div id="bloc1"><div class="square"></div></div>
        <div id="bloc2"><span class="name">Work Experience</span></div>
      </div>

</div>
<div>
<div class="centerMin">
    <div style="margin-top: 80px;" *ngFor="let work of works">
        <app-education-card
            [position]="work.position"
            [company]="work.company"
            [college]="work.date"
            [details]="work.details"
            [field]="work.city"
        ></app-education-card>
    </div>
  <div class="centerMin">

<div id="block_container" style="margin:100px 0px 100px 0px ">
    <div id="bloc1"><div class="square"></div></div>
    <div id="bloc2"><span class="name">Professional 
    </span></div><span class="name">skillset </span>
  </div>
</div>
<div class="wrapper4 card " >
   
    <div class="grid-1 callout ">
        <div id="block_container" class="left"  >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Programming <br>Languages :</h3></span></div>
          </div>     <ul>
         <li>Javascript</li>
         <li>C#</li>
         <li>PHP</li>
         <li>Java</li>
         <li>Python</li>


     </ul>
    </div>
  
    <div class="grid-2 callout ">
        <div id="block_container"  class="left">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Frameworks :</h3></span></div>
          </div>        <ul>
            <li>Angular</li>
            <li>.Net Core</li>
            <li>Nodejs</li>
            <li>Expressjs</li>
            <li>Symfony</li>
   
        </ul>     </div>
  
    <div class="grid-3 callout ">
        <div id="block_container" class="left" >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Tools :</h3></span></div>
          </div>         <ul>
            <li>Git</li>
            <li>Jira</li>
            <li>Trello</li>
            <li>Postman</li>
            <li>StarUML</li>
   
        </ul>      </div>
  
    <div class="grid-4 callout success">
      
        <div id="block_container"class="left"  >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Databases <br>& Libraries :</h3></span></div>
          </div>
        <ul>
            <li>Mysql</li>
            <li>SQLServer</li>
            <li>Mongodb</li>
            <li>PLSQL</li>
            <li>SignalR</li>
            <li>Bootstrap</li>
            <li>Angular Material</li>

        </ul>      </div>
  </div>
  
  
      
</div>
</div>
<br><br>

<div class="" style="text-align: center;">
    <a href="https://github.com/Akrem17/files/raw/main/SPRK_default_preset_name_custom%20%E2%80%93%201.pdf" ><button  class="button" mat-button>Download CV (PDF)</button> </a>
    <br>    <br>
 <a target="_blank" href="https://www.linkedin.com/in/akrem-hammami/">  
     
    <button class="button"  >See LinkedIn </button> </a>

    
</div>
<br><br>
</div>
<div class="item shark-3Min" (click)="scroll()">
    <i class="fa-solid fa-arrow-up"></i>
  </div>
</div>
