<div class="body" style="padding-top: 200px; min-height: 1000px;">
    <div class="center ">
      
        <div id="block_container" style="margin-bottom: 100px;">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="name">Resume</span></div>
          </div>
    
    </div>
<div>
    <div class="center" *ngIf="projects">
        <div style="margin-top: 80px;" *ngFor="let project of projects">
            <app-project-card 
            [title]="project.title"
            [details]="project.details"
            [imgUrl]="project.imgUrl"
            [position]="project.position"

            ></app-project-card>
        </div>
        

    </div>
</div>
<div class="center ">
      
    <div id="block_container" style="margin:100px 0px 100px 0px ">
        <div id="bloc1"><div class="square"></div></div>
        <div id="bloc2"><span class="name">Work Experience</span></div>
      </div>

</div>
<div>
<div class="center">
    <div style="margin-top: 80px;">
        <app-education-card></app-education-card>
    </div>
    <div style="margin-top: 80px;">
        <app-education-card></app-education-card>
    </div>
    <div style="margin-top: 80px;">
        <app-education-card></app-education-card>
    </div>
    <div style="margin-top: 80px;">
        <app-education-card></app-education-card>
    </div>

<!-- gfh --> <!-- gfh --> <!-- gfh -->
<!-- gfh --> <!-- gfh --> <!-- gfh -->
<!-- gfh --> <!-- gfh --> <!-- gfh -->

<div id="block_container" style="margin:100px 0px 100px 0px ">
    <div id="bloc1"><div class="square"></div></div>
    <div id="bloc2"><span class="name">Professional skillset
    </span></div>
  </div>
<div class="wrapper4 card">
   
    <div class="grid-1 callout ">
        <div id="block_container" class="left"  >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Programming <br>Languages :</h3></span></div>
          </div>     <ul>
         <li>Javascript</li>
         <li>C#</li>
         <li>PHP</li>
         <li>Java</li>
         <li>Python</li>


     </ul>
    </div>
  
    <div class="grid-2 callout ">
        <div id="block_container"  class="left">
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Frameworks :</h3></span></div>
          </div>        <ul>
            <li>Angular</li>
            <li>.Net Core</li>
            <li>Nodejs</li>
            <li>Expressjs</li>
            <li>Symfony</li>
   
        </ul>     </div>
  
    <div class="grid-3 callout ">
        <div id="block_container" class="left" >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Frameworks :</h3></span></div>
          </div>         <ul>
            <li>Git</li>
            <li>Jira</li>
            <li>Trello</li>
            <li>Postman</li>
            <li>StarUML</li>
   
        </ul>      </div>
  
    <div class="grid-4 callout success">
      
        <div id="block_container"class="left"  >
            <div id="bloc1"><div class="square"></div></div>
            <div id="bloc2"><span class="">  <h3> Databases <br>& Libraries :</h3></span></div>
          </div>
        <ul>
            <li>Mysql</li>
            <li>SQLServer</li>
            <li>Mongodb</li>
            <li>PLSQL</li>
            <li>SignalR</li>
            <li>Bootstrap</li>
            <li>Angular Material</li>

        </ul>      </div>
  </div>
  
  
      
</div>
</div>
</div>
<div class="center" style="text-align: center;">
    <button class="center">Download CV</button>
</div>
