<div class="card">
    <div class="grid1">
       <div class="name"> 2019-2022</div> 
        <br><br>
        <div class="job">
        Higher institute of applied science and technology of Sousse
        <br> <br> <br>
        Software engineering
        <br><br><br>
        Sousse,Tunisia
    </div>
    </div>
    <div class="grid2">
        <div class="container ">
            <div class="vertical-center">
              <p class="job"  style="text-align: center;">3 years of software engineering class
            </p>
            </div>
          </div>
      <div class="job ">

      </div>
      
    </div>
</div>